{% extends 'base.html' %}

{% block title %}Last Men Standing | SF Chronicle{% endblock %}

{% block head %}
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
{% endblock %}

{% block content %}
 
	<div class="callout large">
		<div class="row column text-center">
			<div class="logo"><a href="http://sfchronicle.com/" target="_blank"><img src="http://projects.sfchronicle.com/shared/logos/sfc_logo_black.png"></a></div>
			<h1>LAST MEN STANDING</h1>
			<p class="lead">A film by Erin Brethauer & Tim Hussin</p>
			<div class="mobile-nav">
				<a href="#trailer" class="button medium">TRAILER</a>
				<a href="#film" class="button medium">SCREENINGS</a>
				<a href="#about" class="button medium">ABOUT</a>
				<a href="#press" class="button medium">PRESS</a>
				<a href="#resources" class="button medium">RESOURCES</a>
			</div>
		</div>
	</div>

	<div class="row center-images">
			<img src="{{ url_for('static', filename='images/laurels/frameline.png') }}">
			<img src="{{ url_for('static', filename='images/laurels/qdoc.png') }}"> 
			<img src="{{ url_for('static', filename='images/laurels/toronto.png') }}">
				<span id="image-jump"><br></span>
			<img src="{{ url_for('static', filename='images/laurels/twist.png') }}">
			<img src="{{ url_for('static', filename='images/laurels/outfest.png') }}">
	</div>


	<div class="trailer-wrapper">
		<div id="trailer">

			<h2 class="text-center">Watch the trailer</h2>

			<div class="flex-video widescreen vimeo">
	  			<iframe src="http://player.vimeo.com/video/141968771" width="400" height="225" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
			</div>
		</div>
	</div>

	<div id="film" class="row">
		<div class="large-12">
			<h2 class="text-center">Screenings</h2>

			<p style="text-align: center">To keep up to date with the film, visit the Last Men Standing <a href="https://www.facebook.com/groups/1059991554058662/" target="_blank">Facebook page</a>.</p>

		</div>
		
		<div class="medium-6 columns">
			<h5><strong>Current</strong></h5>
			<p><strong><a href="http://www.2015usca.org/" target="_blank">U.S. Conference on AIDS</a></strong>, Hollywood, Florida — Sept. 17, 2016</p>
			<p><strong><a href="http://www.2015usca.org/" target="_blank">Reeling: The Chicago LGBTQ+ International Film Festival</a></strong>, Chicago — Sept. 22, 2016, at 1:15 p.m. at Landmark’s Century Center Cinema</p>
		</div>
		<div class="medium-6 columns">
			<h5><strong>Past</strong></h5>
			<p><strong><a href="http://www.sfchronicle.com/promotions/article/Last-Men-Standing-Film-Premiere-6871231.php" target="_blank">World Premiere</a></strong>, San Francisco — April 8, 2016, at Castro Theatre</p>
			<p><strong><a href="http://www.queerdocfest.org/film/last-men-standing/" target="_blank">Queer Documentary Film Festival</a></strong>, Portland — May 22, 2016, at Hollywood Theatre</p>
			<p><strong><a href="http://insideout.ca/torontofestival/film/last-men-standing" target="_blank">Inside Out LGBT Film Festival</a></strong>, Toronto — June 2, 2016, at TIFF Bell Lightbox</p>
			<p><strong><a href="https://ticketing.frameline.org/festival/film/detail.aspx?id=3889&FID=53" target="_blank">Frameline40</a></strong>, San Francisco — June 19, 2016, at Victoria Theatre</p>
			<p><strong><a href="http://www.seattlepridefest.org/twistofpride/#lastmenstanding" target="_blank">Seattle Twist of Pride Film Festival</a></strong>, Seattle — June 19, 2016, at Egyptian Theatre</p>
			<p><strong><a href="https://secure.outfest.org/tixSYS/2016/filmguide/Title/LL" target="_blank">Outfest</a></strong>, Los Angeles — July 11, 2016, at Harmony Gold</p>
			<p><strong><a href="http://programme.aids2016.org/Programme/Session/1211" target="_blank">21st International AIDS Conference</a></strong>, Durban, South Africa — July 22, 2016</p>
		</div>

	</div>
	<hr>
	<div id="about" class="row">
		<div class="large-12">
			<h2 class="text-center">About the film</h2>
		</div>
		
		<div class="large-offset-3 large-6 column">
			
		<p>“We felt like every day was wonderful and anything could happen.” Rich and distinguished stories unfold among the lives of long-term survivors who have learned how to celebrate, heal, love, and thrive after the devastation of the early AIDS crisis. In this cathartic and intimate documentary, eight men look back on their experiences and then toward the future with the strength and resiliency they have cultivated over the past 30 years.</p>

		<p>Survivors are still affected by the trauma of not only their diagnosis but also the loss of community and way of life. Nobody knew they would grow old with AIDS. Many abandoned careers and went on long-term disability to wait out their death sentence, and now they face an uncertain economic future. As they age, and as the Castro neighborhood changes, long-term survivors are also creating new ways to connect, and to find meaning and community. This meditative documentary, the first full-length film produced by the <em>San Francisco Chronicle</em>, draws attention to the emotional and inspiring history of the city’s gay community in the post-AIDS era.</p>

		<p style="text-align: right">— Thom Venegoni, Frameline40</p>

		<p>The film, by Chronicle staff visual journalists Erin Brethauer and Tim Hussin, was created over the course of 10 months and was released in conjunction with a special 20-page newspaper section featuring a story by Erin Allday and an accompanying online package of stories, videos and interactive graphics.</p>

		<button id="story-link"><a href="http://projects.sfchronicle.com/2016/living-with-aids/" target="_blank"><h6>Read the story >></h6></a></button>

		</div>

	</div>

	<div class="trailer-wrapper" style="padding-top: 2em; margin-top: 1em; padding-bottom: 2em;">
	<div id="press" class="row">
		<div class="large-12">
			<h2 class="text-center">Press</h2>
		</div>
	</div>
	<div class="row">
		
	</div>
	<div class="row">
		<div class="medium-4 column">
			<h5>“If spirits took up movie seats, the Castro Theatre would have been in violation of the San Francisco fire code Friday night.”</h5>
			<cite><a href="http://www.sfgate.com/movies/article/Standing-ovation-for-premiere-of-AIDS-7238775.php">Beth Spotswood, San Francisco Chronicle</a></cite>
		</div>
		<div class="medium-4 column">
			<h5>“‘Last Men Standing’ also has something else, something that we could see more of in the future: It has a feature-length documentary film.”</h5>
			<cite><a href="http://www.cjr.org/united_states_project/last_men_standing_movie_san_francisco_chronicle.php">Tony Biasotti, Columbia Journalism Review</a></cite>
		</div>
		<div class="medium-4 column">
			<h5>“And so, they soldier on, these incredibly brave wounded warriors profiled in Last Men Standing.”</h5>
			<cite><a href="http://www.aumag.org/2016/05/10/last-men-standing/">Hank Trout, A&U - America’s AIDS Magazine</a></cite>
		</div>

	</div>
	</div>


	<div id="about" class="row">
		<div class="large-12">
			<h2 class="text-center">About the filmmakers</h2>
		</div>
		
		<div class="large-12" style="max-width: 650px; margin: 0 auto"><img src="{{ url_for('static', filename='images/timerin.jpg') }}"></div>

		<div class="medium-6 column" style="margin-top: 2em">
			
			<h5><strong>Erin Brethauer</strong></h5>

			<a href="mailto:ebrethauer@sfchronicle.com"><i class="fa fa-envelope fa-lg" aria-hidden="true"></i></a>
			<a href="http://twitter.com/erinbrethauer" target="_blank"><i class="fa fa-twitter fa-lg" aria-hidden="true"></i></a>

			<p>Erin Brethauer is a documentary filmmaker and video producer at the San Francisco Chronicle where she's been working on long-term projects since 2014. Before moving to the Bay Area, she was a multimedia editor and staff photographer for seven years at the Citizen-Times in Asheville, North Carolina. Last Men Standing is her first feature-length film.</p>
			<p>You can see her work at <a href="http://erinbrethauer.com" target="_blank">erinbrethauer.com</a>.</p>

		</div>

		<div class="medium-6 column" style="margin-top: 2em">
			
			<h5><strong>Tim Hussin</strong></h5>

			<a href="mailto:thussin@sfchronicle.com"><i class="fa fa-envelope fa-lg" aria-hidden="true"></i></a>
			<a href="http://twitter.com/timhussin" target="_blank"><i class="fa fa-twitter fa-lg" aria-hidden="true"></i></a>

			<p>Tim Hussin is a documentary filmmaker and photographer on staff at the San Francisco Chronicle. Last Men Standing is his second feature length documentary film. His first, America Recycled, chronicles his two-year, 5,000-mile bicycle journey with his brother through radical communities in the American South.</p> 
			<p>You can see his work at <a href="http://timhussin.com" target="_blank">timhussin.com</a>.</p>

		</div>

		<div class="large-12 column" style="float: left; margin-top: 2em">
			<p>Brethauer and Hussin also co-produce the weekly video column, The Regulars, which offers a poetic glimpse into the lives of everyday people in the Bay Area, caught in routine activities of modern urban life. You can see their column at <a href="http://www.sfchronicle.com/theregulars" target="_blank">www.sfchronicle.com/theregulars</a>.</p>
		</div>
	</div>

	<hr>

	<div id="resources" class="row">
		<div class="large-12">
			<h2 class="text-center">Resources</h2>
			<div style="text-align:center;max-width:800px;margin:0 auto 3em;">
			<p>Isolation is one of the most widespread and harmful consequences of long-term survival. Drawing men out of their homes is also one of the biggest challenges facing the city and agencies that serve people with HIV.</p><p>Here are some of the social outlets that already are available.</p></div>
		</div>
		
		<div class="medium-6 column">
			<p><strong><a href="http://sfaf.org/client-services/50-plus/" target="_blank">Elizabeth Taylor 50-Plus Network</a></strong>. This San Francisco AIDS Foundation group meets weekly to provide friendship and support for long-term survivors and others affected by AIDS.</p>
			<p><strong><a href="http://www.saratogasprings.com/retreats/HonoringOurExperience.html" target="_blank">Honoring Our Experience</a></strong>. A group started by survivor Gregg Cassin and supported by the Shanti Project that holds weekly meetings as well as weekend retreats at least three times a year. The group also hosts dances for long-term survivors.</p>
			<p><strong><a href="http://thebillys.org/" target="_blank">The Billys</a></strong>. A gay men’s club created in the late 1980s with roots in the epidemic. It’s for men of all ages, but most participants are older and many are HIV-positive. The group holds weekend retreats.</p>
			<p><strong><a href="http://letskickass.org/" target="_blank">Let’s Kick ASS</a></strong>. A grassroots support group started by long-term survivor Tez Anderson that holds weekly fitness sessions and other meetings in the Castro.</p>
		</div>
		<div class="medium-6 column">
			<p><strong><a href="http://openhouse-sf.org/" target="_blank">Openhouse HIV support group</a></strong>. Openhouse is an agency serving LGBT seniors, and its HIV support group, started 15 years ago, may be the only formal, therapist-led group for long-term survivors in San Francisco. There is a waiting list to get into the group. Openhouse also has non-HIV-specific programs for LGBT seniors.</p>
			<p><strong><a href="https://www.facebook.com/groups/466278376873515/" target="_blank">HIV Long-Term Survivors</a></strong>. Jesus Guillen started this private Facebook group last summer, and it already has more than 2,300 members.</p>
			<p><strong><a href="http://www.shanti.org/" target="_blank">Shanti Project</a></strong>. Shanti reengineered a longstanding program for learning life skills to meet the needs of survivors. Shanti also is starting a new formal support group for long-term survivors on March 10. Anyone interested in joining should email Eric Sutter at <a href="mailto:esutter@shanti.org">esutter@shanti.org</a>.</p>
			<p style="text-align: right"><em>— List compiled by Erin Allday</em></p>
		</div>
	</div>
	
	<footer>
		<a class="logo-btm" href="http://www.sfchronicle.com" target="_blank">
        	<img src="http://projects.sfchronicle.com/shared/logos/sfc_logo_black.png">
      	</a>
	</footer>
	
{% endblock %}

{% block javascript %}
<script>
	$(document).ready(function() {
	App.init();
	});

	$(document).foundation();
</script>
{% endblock %}
