// DEBUG STYLES
.debug {
  .header-branding a.logo-link {
    height: 38px;
  }
}
// END DEBUG


.logo{
	max-width: 200px;
    margin: 0 auto;
}

h1 {
	font-family:"AntennaExtraLight", "Lato", "Helvetica Neue", Helvetica, sans-serif;
	margin-bottom:-10px;

	@media(max-width: 639px){
		font-size:1.9em;
		margin-bottom:0;
	}
}

h2, h3 {
        font-family:"AntennaMedium", "Lato", "Helvetica Neue", Helvetica, sans-serif;
}

.lead {
	font-size: 1em;
}

.mobile-nav {
    @media(max-width: 639px){
        display: none;
    }
}

.button {
    background-color: rgba(255, 255, 255, 0);
    color: #222;
    margin-bottom:0;
}

.button:hover, .button:focus {
	background-color: rgba(255, 255, 255, 0);
    color: #333;
    text-decoration: underline;
}

.callout.large{
	background-image: url('../images/main.jpg');
    background-position: center top;
    background-position-y: 40%;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 770px;
    padding-right:0;
    padding-left:0;
    margin-bottom:0;

    @media (max-width: 388px){
		background-image: url('../images/mobile.jpg');
		min-height:380px;
    }
}

.trailer-wrapper{
	background: rgb(246,221,213);
    margin-bottom: 2em;
}

#trailer{
	max-width: 900px;
    padding: 2em 0;
    margin: 0 auto;
}

.column:last-child:not(:first-child), .columns:last-child:not(:first-child) {
    float: left;
}

.center-images {
    text-align: center;
    padding-top: 3em;
    padding-bottom: 2em;
    img {
        min-width: 150px;
        max-width: 15%;
        padding-bottom: 1em;
    }
}

#image-jump {
    @media (min-width: 770px){
        display: none;
    }
}

cite {
    @media (max-width: 639px) {
        padding-bottom: 1em;
    }
}

i {
    color: #2199e8;
    padding-bottom: 0.75em;
}

i:hover, i:focus {
    color: #1585cf;
}

#story-link {
    text-align: center;
    padding: 10px 20px 10px 20px;
    background-color: rgba(246,221,213,0.2);
    float: right;
}

#story-link h6 {
    margin: 0;
}

//editing columns
@media screen and (min-width: 64em) {
.large-6 {
    width: 60%;
    }
.large-offset-3 {
    margin-left: 20%;
    }
}

//footer
footer {
    background: rgb(246,221,213);
    opacity: 1;
    padding: 0 10px;
    position: relative;
    z-index: 99;
    margin-top: 10px;
    cursor: pointer;
    overflow: auto;

    .logo-btm {
        float: left;
        margin-right: 10px;
        padding-bottom: 10px;
    }

}

footer .logo-btm img {
    margin-top: 10px;
    height: 20px;
}