// DEBUG STYLES
.debug {
  .header-branding a.logo-link {
    height: 38px;
  }
}
// END DEBUG


.logo{
	max-width: 200px;
    margin: 0 auto;
}

h1 {
	font-family:"AntennaMedium", "Lato", "Helvetica Neue", Helvetica, sans-serif;
	margin-bottom:-10px;

	@media(max-width: 639px){
		font-size:1.9em;
		margin-bottom:0;
	}
}

.lead {
	
	@media (max-width:388px){
		font-size:1em;
	}
}

.button {
    background-color: rgba(255, 255, 255, 0);
    color: #222;
    text-decoration: underline;
    margin-bottom:0;
}

.button:hover, .button:focus {
	background-color: rgba(255, 255, 255, 0);
    color: #333;
}

.callout.large{
	background-image: url('../images/main.jpg');
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 770px;
    padding-right:0;
    padding-left:0;
    margin-bottom:0;

    @media (max-width: 388px){
		background-image: url('../images/mobile.jpg');
		min-height:380px;
    }
}

.trailer-wrapper{
	background: #4c4c4c;
    margin-bottom: 2em;
}

#trailer{
	max-width: 900px;
    padding: 70px 0;
    margin: 0 auto;
}
